:root{
    --color-P: rgb(183, 209, 187);
    --color-S: rgb(234, 203, 173);
    --color-A: rgb(93, 160, 159);
    --color-X: rgb(199, 209, 121);
    --color-Y: rgb(205, 209, 35);
    --color-W: rgb(255, 255, 255);
    --color-B: rgb(0, 0, 0);
    
}
.color-p{
    color: var(--color-P);
}
.color-s{
    color: var(--color-S);
}
.color-a{
    color: var(--color-A);
}
.color-x{
    color: var(--color-X);
}
.color-y{
    color: var(--color-Y);
}
.color-w{
    color: var(--color-W);
}
.color-b{
    color: var(--color-B);
}
/* fonts */
.fontIndie{
    font-family: 'Indie Flower', cursive !important;
}
.fontMarker{
    font-family: 'Permanent Marker', cursive !important;
}
.fontGaegu{
    font-family: 'Gaegu', cursive !important;
}

/* NAVBAR  */
.navbar-custom{
    margin: 5vh 15vh 0vh 15vh ;
    background-color:var(--color-S);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.transition{
    transition: 1s;
}

/* HEADER  */
.customButtonHeader{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
} 
.customButtonHeader2{
    border-color: transparent;
    background-color: var(--color-A);
    color: var(--color-S);
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.customButtonHeader2:hover {
    transform: perspective(1px) scale3d(1.1, 1.1, 1) translateZ(0) ;
}
.bgHeader{
    height: 75vh;
    background-color: var(--color-P);
}
.sezioneFrase{
    height: 25vh;
}
.Mascot{
    height: 40vh;
    border-radius: 20px;
}
/* card */
.card:hover>div>img{
    transform: scale(1.2);
}
.customButtonCards{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
} 
.customButtonCards2{
    border-color: transparent;
    background-color: var(--color-X);
    color: var(--color-W);
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.customButtonCards2:hover {
    transform: perspective(1px) scale3d(1.1, 1.1, 1) translateZ(0) ;
}
.colorHeart{
    color: var(--color-Y);
}
.bgNew{
    background-color: var(--color-A);
    color: var(--color-S);
}

/* Category  */
.img-category{
    background-color: var(--color-W);
    width: 100%;
    border-radius: 50%;
    border: 10px solid var(--color-X);
    padding: 5px;
}
.bg-category{
    background: linear-gradient(0deg, rgba(255,255,255,0) 35%, rgba(183, 209, 187,1) 100%);
}

/* Sezione Numeri  */
.boxNumbers{
    background-color: var(--color-P);
    /* border: 3px solid var(--color-A); */
    height: 120px;
    color: var(--color-A);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}